SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_NAME=planeta_db
DB_USER=planeta_user
DB_PASSWORD=planeta_password
DB_HOST=db
DB_PORT=3306
DB_CONN_MAX_AGE=60

TELEGRAM_BOT_TOKEN=tu_token_aqui

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
ENABLE_CELERY_BEAT=False

LANGUAGE_CODE=es-cl
TIME_ZONE=America/Santiago
